<img src="https://tesseract.projectnaptha.com/img/eng_bw.png" width="500px" height="500px" alt="">
<button (click)="getTextFromImage()">Get text from image</button>

<h3 *ngIf="text">Text from image: {{text}}</h3>

<button id=translatebtn (click)="send()">Translate</button>
<h3>{{textTranslate}}</h3>
